@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* colors  */

:root {
  --primary: #1B1464;
  --secondary: #252B42;
  --primary-text: #737373;
  --pure: #FEFEFE;
  --light: #F0F0F0;
}



body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.secondary-text {
  color: var(--primary-text);
}



/* All Button */

.primary-circle-btn {
  padding: 0.7rem 1.8rem;
  background-color: var(--primary);
  color: var(--pure);
  border: 3px solid transparent;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  /* Firefox 4 */
  -webkit-transition: all 0.3s linear;
  /* Safari and Chrome */
  -o-transition: all 0.3s linear;
  /* Opera */
  -ms-transition: all 0.3s linear;
  /* Explorer 10 */
}

.primary-circle-btn:hover {
  background-color: transparent;
  color: var(--primary);
  border: 3px solid var(--primary);
}

.primary-sqr-btn {
  padding: 0.7rem 1.8rem;
  background-color: var(--primary);
  color: var(--pure);
  border: 3px solid transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  /* Firefox 4 */
  -webkit-transition: all 0.3s linear;
  /* Safari and Chrome */
  -o-transition: all 0.3s linear;
  /* Opera */
  -ms-transition: all 0.3s linear;
  /* Explorer 10 */
}

.primary-sqr-btn:hover {

  background-color: transparent;
  color: var(--primary);
  border: 3px solid var(--primary);
}

.secondary-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.primary-link {
  text-decoration: none;
  color: var(--pure);
  cursor: pointer;
}

.login-btn {
  padding: 0.7rem 1.8rem;
  border: 3px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.3rem;
  margin-right: 0.2rem;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  /* Firefox 4 */
  -webkit-transition: all 0.3s linear;
  /* Safari and Chrome */
  -o-transition: all 0.3s linear;
  /* Opera */
  -ms-transition: all 0.3s linear;
  /* Explorer 10 */
}

.login-btn:hover {
  border: 3px solid var(--primary);
  background-color: transparent;
}

.secondary-btn {
  padding: 0.7rem 1.8rem;
  background-color: transparent;
  color: var(--primary);
  border: 3px solid var(--primary);
  border-radius: 5rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  /* Firefox 4 */
  -webkit-transition: all 0.3s linear;
  /* Safari and Chrome */
  -o-transition: all 0.3s linear;
  /* Opera */
  -ms-transition: all 0.3s linear;
  /* Explorer 10 */
}

.secondary-btn:hover {
  background-color: var(--primary);
  color: var(--pure);

}

/* All Button */




nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.1rem 0;
}

.scrolled {
  background-color: red;
}

.homedropbtn {
  background-color: transparent;
  padding: 5px 16px;
  font-size: 16px;
  border: none;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  color: var(--primary-text);
}


.generaloption {
  display: inline-block;
  transition: all 0.3s;
}

.generaloption a {
  text-decoration: none;
  transition: all 0.3s;
  color: var(--primary-text);
}


.active {
  color: black;
}

.active a {
  color: black;
}

.homedropdownem {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

.adhomedropdown {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

#earnhomedropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.3s;
}

#adhomedropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.3s;
}

.homedropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.homedropdown-content a:hover {
  background-color: #ddd;
}

#addroparrow {
  transition: all 0.3s;
}

#droparrowearnmoney {
  transition: all 0.3s;
}

.adhomedropdown:hover #adhomedropdowncontent {
  display: block;
}

.homedropdownem:hover #earnhomedropdowncontent {
  display: block;
}

.homedropdownem:hover #droparrowearnmoney {
  transform: rotate(180deg);
}

.adhomedropdown:hover #addroparrow {
  transform: rotate(180deg);
}



/* menu ul li{
  display: inline-block;
}
.homedropdown{
  position: relative;
}
.dropdownoptions{
  display: block;
 
}
.dropdownoptions li{
  display: block;
  position: absolute;
  top: 50px;
 
} */

/* menu ul{
  display: flex;
}
menu ul li {
  display: inline-block;
  margin: 0 1rem;
}

menu ul li a {
  text-decoration: none;
  color: var(--primary-text);
} */

.logo h1 {
  color: var(--primary);
}

.main-nav {
  position: sticky;
  top: 0;
  z-index: 1 !important;
  background-color: var(--pure);
  padding: 0.1rem 0rem;
  margin: 0;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.useroptions {
  display: flex;
  align-items: center;
}

/* Hero Section */

.hero-title {
  font-size: 3.813rem;
  color: var(--secondary);
}

.hero-slogan {
  margin: 1rem 0;
}

.mright {
  margin-right: 1rem;
}

.hero-img img {
  width: 100%;
}

.all-in-center {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Get In Touch */
.get-in-touch {
  background-color: var(--secondary);
  padding: 3rem 0;
}

.git-text {
  color: var(--pure);
  margin-bottom: 0.5rem;
}

.git-detail {
  color: var(--pure);
}

.git-input-box {
  border: 2px solid white;
  border-radius: 0.5rem;
}

.git-input-box input {
  height: 2.7rem;
  padding: 0 0.5rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

.git-input-box input:focus {
  outline: none;
}

.primary-input-btn {
  padding: 0.7rem 1.8rem;
  background-color: var(--primary);
  color: var(--pure);
  border: 3px solid transparent;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  font-weight: bold;
}


/* Footer */


footer {
  margin-top: 3rem;
  color: var(--primary-text);
}

.footer-c {
  margin-bottom: 1rem;
  color: var(--secondary);
}

.footer-details {
  margin-bottom: 1rem;

}

footer ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}

footer ul li a {
  text-decoration: none;
  color: var(--primary-text);
}

.social-icon a {
  margin-right: 1rem;
  text-decoration: none;
}

.copyright {
  background-color: #FAFAFA;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}






/* Login From */


.border-box {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;

}

.container-box {
  width: 80%;
  box-shadow: 0px 48px 48px -6px #17328E;

}

.img-box {
  background-color: rgba(57, 72, 171, 0.5);
  backdrop-filter: blur(20px);
  position: relative;
  filter: drop-shadow(0px 0px 1px #17328E);

}

.img-box-img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--pure);
  font-weight: bolder;

}

.form-box {
  background-color: var(--pure);

}

.form-container {
  width: 100%;
}

.cartoon-img {
  text-align: center;
}

.cartoon-img div h3 {
  color: var(--pure);
  margin: 0.5rem 0;
}

.cartoon-img div small {
  color: var(--pure);
}

.form-title {
  text-align: center;
  margin-bottom: 0.5rem;
}


.mailbox,
.passwordbox {
  display: flex;
  align-items: center;
  border: 1px solid #D0D0D0;
  width: 95%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

.mailbox input,
.passwordbox input {
  height: 3rem;
  border: none;
  padding: 0 0.5rem;
  width: 100%;

}

.mailbox input:focus,
.passwordbox input:focus {

  border: none;
  outline: none;

}

.forgetpass {
  text-align: end;
  width: 95%;
}

.forgetpass a {
  text-decoration: none;
}

.loginfrombtn {
  width: 95%;
  margin: 1rem 0;
}

.divided-by-or {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divided-by-or hr {
  width: 25%;
}

.divided-by-or p {
  margin: 0 0.5rem;
}

.have-an-id {
  width: 95%;
  text-align: center;
  color: var(--primary-text);
}

.logwithgoogle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logwithgoogle p {
  color: var(--secondary);
}

.logwithgoogle:hover p {
  color: var(--pure);
}


/* select */
.select:focus {
  outline: none;
}




/* Pagenot found */

.pagenotfound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagenotfound img {
  width: 50%;
}


.dropdown {
  color: var(--primary-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* User Dashboard */

.center-dashbord-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-dashbord-menu-icon span {
  margin: 0 0.5rem;
}

.userdashbordnav {
  background-color: var(--pure) !important;
}


/* Profile */
.center-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 183px;
  width: 100%;
  background-color: var(--primary);
  overflow: hidden;
  position: relative;
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  /* Firefox 4 */
  -webkit-transition: all 0.5s linear;
  /* Safari and Chrome */
  -o-transition: all 0.5s linear;
  /* Opera */
  -ms-transition: all 0.5s linear;
  /* Explorer 10 */
}

.cover-img img {
  width: 100%;
}

.cover-img:hover .cover-img-upload-icon {
  opacity: 1;
}


.cover-img-upload-icon {
  position: absolute;
  bottom: 0%;
  right: 0%;
  opacity: 0;
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  /* Firefox 4 */
  -webkit-transition: all 0.5s linear;
  /* Safari and Chrome */
  -o-transition: all 0.5s linear;
  /* Opera */
  -ms-transition: all 0.5s linear;
  /* Explorer 10 */
}

.cover-img-upload-icon form {
  display: flex;
  align-items: center;

}

.cover-img-upload-icon form button {
  padding: 0px 0px;
  margin: 0;
  cursor: pointer;
}


.profile-img {
  background-color: var(--secondary);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border: 3px solid white;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  z-index: 1;
  transition: 0.3s ease;
  overflow: hidden;
}

.profile-img img {
  width: 100%;
}

.profile-img:hover .profile-img-upload-icon {
  opacity: 1;
}

.profile-img-upload-icon {
  position: absolute;
  top: -5%;
  left: -5%;
  background-color: var(--primary);
  width: 100px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease;
}

.profile-img-upload-icon form {
  display: flex;
  align-items: center;
}

.profile-img-upload-icon form button {
  padding: 0px 0px;
  margin: 0;
  cursor: pointer;
}


/* Profile Basic Information */
.binfo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.binfo-profile {
  width: 150px;
  height: 150px;
  overflow: hidden;

}

.binfo-profile img {
  width: 100%;
}

.verifybtn {
  margin-left: 10px;
  background-color: transparent;
  color: blue;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.autherror {
  width: 95%;
  margin-bottom: 10px;
}

.forgetpass small {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

/* Dashboard */


.dashboard-nav {
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboard-logo {}

.dashboard-logo a {
  text-decoration: none;
  color: var(--primary);
}

.dashboard-link {
  text-decoration: none;
  color: var(--secondary);
}

.logo img {
  width: 100%;
}


/* All users  */
.filter-checkbox {}







/* Mobile Menu */
.mobilenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuitemlogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-logo img {
  height: 50px;
}

.mobileactive {
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.62);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.62);

}

.usermenumobile {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Pricing */
.p-grid {
  width: 337px;
  box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.51);
  text-align: center;
  padding: 20px 0;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  /* Firefox 4 */
  -webkit-transition: all 0.3s linear;
  /* Safari and Chrome */
  -o-transition: all 0.3s linear;
  /* Opera */
  -ms-transition: all 0.3s linear;
  /* Explorer 10 */

}


.p-grid:hover {
  transform: scale(1.1);
}

.main-p-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;

}


.p-text-with-icon {
  display: flex;
  margin: 20px 0px 0px 20px;
}

.icon-circle {
  height: 32px;
  width: 32px;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.unavalvable-icon-circle {
  background-color: var(--primary-text);
}

.icon-circle i {
  color: var(--pure);
}

.p-text>p {
  display: flex;
  justify-content: center;
  align-items: center;

}

.p-text h3 {
  font-size: 21px;
}

.big {
  font-size: 44px;
  font-weight: 900;
  margin-right: 3px;
  color: var(--primary);
}

.small {
  text-align: left;
  margin: 0;
  padding: 0;
}

.small>.dolar {
  display: block;
  margin-bottom: -10px;
  font-size: 26px;
  font-weight: 600;
  color: var(--primary);
}

.small>.text {
  display: block;
  margin-top: -10px;
  font-size: 16px;
}

.pricing-section {
  margin: 60px 0;
}

.p-box {
  margin-bottom: 30px;
}

.pricing-title {
  text-align: center;
}

.pricing-title h1 {
  color: var(--secondary);

  margin-bottom: 10px;
}

.pricing-title p {
  color: var(--primary-text);
}


/* How To Earn */


.howtoearnmoney-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.howtoearnmoney-grid-card {
  width: 337px;
  text-align: center;
}

.howtoearnmoney-grid-icon i {
  font-size: 45px;
}

.howtoearnmoney-grid-text h3 {
  margin: 10px 0;
}

.howtoearnmoney {
  background-color: var(--secondary);
  padding: 50px;
  color: var(--pure);
  margin: 60px 0;
}

.menu-userprofileimg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.underconst {
  text-align: center;
  position: relative;
  width: 100%;
}

.underconst img {
  width: 60%;
}

.underconstraction-text {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translatex(-50%);
}

.laptop-nav {
  display: block;
}

.mobile-nav {
  display: none;
}




/* userdetails modal */

.userdetailmodal {
  box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -1px 2px 9px -2px rgba(0, 0, 0, 0.51);

}

.userImg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.accountcircleicon {
  font-size: 90px !important;
  text-align: center;
}

.userdetailmodalgrid div {
  margin-bottom: 5px;
}

.userdetailmodalgrid div label {
  font-weight: 600;
}


.userstatus {
  display: flex;
  align-items: center;

}

.userrole {
  display: flex;
  align-items: center;

}

.usermembership {
  display: flex;
  align-items: center;
}


/* Dashboard Home */

.dashboard-detail-box {
  text-align: center;
  background-color: #FFF0E6;
  border-radius: 10px;

  height: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}




.payment-details {
  border: 1px solid black;
  border-radius: 10px;
}


.piecharts {
  border: 1px solid black;
  border-radius: 10px;
}




.piechart-details {
  display: flex;
}


.pieicon {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  margin-right: 5px;
}

.pieicons {
  display: flex;
  align-items: center;
}

.piechart-userdetails {
  margin-top: 20px;
}

.piechart-userdetail {
  margin-bottom: 20px;
}



/* logs */
.loginhistory-cover {
  border: 2px solid var(--primary);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logindetails {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;


}

.ua {
  position: absolute;
  top: 9%;
  opacity: 0;
  padding: 5px;
  background-color: var(--pure);
  border: 2px solid var(--primary);
  max-width: 400px;
  transition: all 0.3s linear;
}

.logindetails:hover .ua {
  opacity: 1;
}

.osimg .windows {
  font-size: 48px;
  margin-right: 15px;
  color: #00A4EF;
}

.osimg .android {
  font-size: 48px;
  margin-right: 15px;
  color: #3DDC84;
}

.modalbtn {
  background-color: #ee282b !important;
  padding: 0.5rem 1.3rem;
  border: 0px;
  cursor: pointer;
  margin: 6px 5px;
  font-weight: 600;
  color: white !important;
}

.modalbtn:hover {
  background-color: #ee282b !important;
}

.modalcloseBtn {
  background-color: rgb(235, 209, 209) !important;
  color: black !important;
  padding: 0.5rem 1.3rem;
  border: 0px;
  cursor: pointer;
  margin: 6px 5px;
  font-weight: 600;
}

.modalcloseBtn:hover {
  background-color: rgb(172, 169, 169) !important;
  color: black !important;
}

.deleteloginhistorybtn {
  display: block;
  width: 150px;
  padding: 0.7rem 1.8rem;
  background-color: #ee282b;
  color: var(--pure);
  border: 3px solid transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  /* Firefox 4 */
  -webkit-transition: all 0.3s linear;
  /* Safari and Chrome */
  -o-transition: all 0.3s linear;
  /* Opera */
  -ms-transition: all 0.3s linear;
  /* Explorer 10 */
}

.deleteloginhistorybtn:hover {

  background-color: transparent;
  color: #ee282b;
  border: 3px solid #ee282b;
}

/* upgrade */


.upgradeform>div {
  margin-bottom: 15px;
}

.upgradeform>div>label {
  margin-bottom: 5px;
}

.upgradeform>div>input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 5px;
  border-radius: 5px;
  border: 2px solid var(--primary);
}

.transbox {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 5px;
  border-radius: 5px;
  border: 2px solid var(--primary);
  margin-bottom: 15px;
}

.paymentinstractionBD {
  margin: 10px 0;
}

.makepayments {
  padding: 0 50px;

}

.usdt-qr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usdtqr {
  width: 200px;
}

.confirmorder_profile_btn {
  text-decoration: none;
  padding: 5px 6px;
  background-color: var(--secondary);
  color: white;

  border: 2px solid transparent;
  transition: all 0.3s;
}

.confirmorder_profile_btn:hover {
  background-color: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

.confirmorder_home_btn {
  text-decoration: none;
  padding: 5px 6px;
  background-color: var(--primary);
  color: white;

  border: 2px solid transparent;
  transition: all 0.3s;
}

.confirmorder_home_btn:hover {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.inputboxstyle {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 5px;
  border-radius: 5px;
  border: 2px solid var(--primary);
}

.nid>img {
  height: 100%;
  width: 100%;
}


.homepmodal {
  cursor: pointer;
}

.startformadimg {
  width: 200px;
}

.startformadimgbg {
  background-color: var(--primary) !important;
  position: relative;
}

.invest-btn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-image: linear-gradient(to right, #CF7228 0%, #F3BC61 51%, #CF7228 100%);
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: black;
  border-radius: 10px;
  border: 3px solid transparent;
}

.invest-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: black;
  text-decoration: none;
}

/* User Dashboard */

.userdahboadholecontent{
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxbg{
  width: 300px;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: 10px;
}
.boxbg1{
  background-color: #342EAD;
}
.boxbg2{
  background-color: #127681;

}
.boxbg3{
  background-color: #4634FF;
}
.boxbg i{
 font-size: 48px;
}
.boxbg p{
 font-weight: bold;
}
.boxbg h2{
 text-align: end;

}

.makewithdraw h2{
  text-align: center;
  margin: 20px 0;
  color: var(--secondary);
}


.header{
  background-color: #FF5200;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.withdrawnow label{
  display: block;
  color: var(--secondary);
}
.withdrawnow input{
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 5px;
  margin-bottom: 10px;
  border: 1px solid #342EAD;
  border-radius: 5px;
}
.withdrawnow select{
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 5px;
  margin-bottom: 10px;
  border: 1px solid #342EAD;
  border-radius: 5px;
}


.withdrawsubmitbtn{
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #FF5200 5%, #c23e01 100%);
	background-color:#FF5200;
	border-radius:6px;
  border: 0px solid transparent;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-weight:bold;
	padding:10px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #FF5200;
}

.withdrawsubmitbtn:hover {
	background:linear-gradient(to bottom, #c23e01 5%, #FF5200 100%);
	background-color:#FF5200;
}
.withdrawsubmitbtn:active {
	position:relative;
	top:1px;
}


.okmodal{
  text-align: center;
}
.okmodal i{
 font-size: 80px;
 color: 	var(--primary);
 margin-bottom: 20px;
}





@media only screen and (max-width:600px) {
  .hero-title {
    font-size: 2.813rem;
    color: var(--secondary);
  }

  .main-p-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing-section {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .howtoearnmoney-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .howtoearnmoney-grid-card {
    width: 100%;
    text-align: center;
  }

  .get-in-touch {
    text-align: center;
  }

  .laptop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

}